./plancosts/plancosts/providers/aws/__pycache__/provider.cpython-310.pyc
./plancosts/plancosts/providers/aws/__pycache__/ec2.cpython-310.pyc
./plancosts/plancosts/base/__pycache__/costs.cpython-310.pyc
./plancosts/plancosts/base/__pycache__/filters.cpython-310.pyc
./plancosts/plancosts/base/__pycache__/mappings.cpython-310.pyc
./plancosts/plancosts/base/__pycache__/pricecomponent.cpython-310.pyc
./plancosts/plancosts/base/__pycache__/query.cpython-310.pyc
./plancosts/plancosts/base/__pycache__/resource.cpython-310.pyc
./plancosts/plancosts/outputs/__pycache__/json_output.cpython-310.pyc
./plancosts/plancosts/parsers/__pycache__/terraform.cpython-310.pyc
./plancosts/plancosts/providers/{__init__.py}
./plancosts/plancosts/providers/aws/__pycache__/__init__.cpython-310.pyc
./plancosts/plancosts/providers/aws/__pycache__/ec2.cpython-310.pyc
./plancosts/plancosts/providers/aws/__pycache__/provider.cpython-310.pyc
**/*.pyc
**/__pycache__/
.env.local